.bio-wrapper .bio.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.bio-wrapper .bio.block img {
    border-radius: 50%;
    object-fit: cover;
    width: auto;
    max-width: 200px;
}

.bio-wrapper .bio.block.highlighted img {
    border: 2px solid blue;
    box-sizing: border-box;
}
